[submodule "src/include/shared"]
	path = src/include/shared
	url = git@github.com:fyndiq/fyndiq-module-shared.git
[submodule "src/include/tgm"]
	path = src/include/tgm
	url = https://github.com/TGMPA/TGM-Plugin-Activation.git
