[submodule "src/include/shared"]
	path = src/include/shared
	url = git@github.com:fyndiq/fyndiq-module-shared.git
[submodule "src/include/api"]
	path = src/include/api
	url = git@github.com:fyndiq/fyndiq-api-wrapper-php.git
