<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory suffix=".php">./tests/phpunit/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">src/</directory>
			<exclude>
				<directory suffix=".php">src/include/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
